{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row text-center">
    <div class="col-md-1 col-sm-1 hero-feature"></div>
    <div class="col-md-10 col-sm-10 hero-feature">
        <div class="thumbnail">
            <img src="{{ record.record_image }}" alt="">
            <div class="caption">
                <h1>{{record.title}}</h1>
                <h4><a href="/artists/{{ record.artist_id }}">{{record.artist_name}}</a></h4>
                <h6>{{record.year}}</h6>
                <p>{{ record.description }}</p>
                {% if loggedIn %} <a href="/records/{{ record.id }}/edit" class="btn btn-default">Edit Record</a>
                <a href="/records/{{ record.id }}/delete" class="btn btn-default">Delete Record</a> {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-1 col-sm-1 hero-feature"></div>
</div>
{% endblock %}
