{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row text-center">
    {% for genre in genres %}
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="{{ genre.genre_image }}" alt="">
            <div class="caption">
                <h1 class="item_title">{{ genre.genre_name }}</h1>
                <h4 class="item_info">{{ genre.description }}</h4>
                <p>
                    <a href="/genres/{{ genre.id }}" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
