{% extends "main.html" %} {% block content %} {% include "header.html" %}

<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>

<script src="//apis.google.com/js/platform.js?onload=start">
</script>

<div class="col-md-3 col-sm-6 hero-feature center">
    <row>
        <h2>Hello There!</h2>
        <p>Let's get you logged in. Please use one of the below options.</p>
    </row>
    <row>
        <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <!-- GOOGLE PLUS SIGN IN-->
        <div class="col-md-3 col-sm-6 hero-feature center" id="signInButton">
            <span class="g-signin" data-scope="openid email" data-clientid="821825718249-6am7odj81p1gvdu7q1jfmpsd8v7ugu76.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
          </span>
        </div>

    </row>
    <br>
    <br>
    <br>
    <row>
        <div>
            <span><button>
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>
            </button></span>

        </div>
    </row>
</div>





<div id="result"></div>

<script>
    function signInCallback(authResult) {
        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                        setTimeout(function () {
                            window.location.href = "/records";
                        }, 4000);

                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }

            });
        }
    }
</script>



<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1094652847244548',
            cookie: true, // enable cookies to allow the server to access 
            // the session
            xfbml: true, // parse social plugins on this page
            version: 'v2.2' // use version 2.2
        });
    };
    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
        var access_token = FB.getAuthResponse()['accessToken'];
        console.log(access_token)
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                        setTimeout(function () {
                            window.location.href = "/records";
                        }, 4000);

                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }

            });
        });
    }
</script>



<!--END FACEBOOK SIGN IN -->
{% endblock %}